/*################ MAIN ################*/


/*################ SEARCH AND SEARCH ADBANCED ################*/

#div-row-search-input {
    margin-top: 50px;
}

#div-row-search-input div {
    height: 64px;
}

#div-row-search-input div div button {
    height: 44px;
    margin-left: -20px;
    margin-top: 10px;
    font-size: 12px;
}

#div-row-search-input div div #div-type-search-one input {
    width: 80%;
    padding: 0 20px 2px 15px;
    margin-right: -15px;
}

#div-row-search-input div div #div-type-search-one i {
    margin-top: 7px;
    margin-right: -15px;
}

#div-type-search-one {
    margin-top: 11px;
}

#input-div-search {
    width: 90%;
    border-radius: 5px;
    border: solid 1px;
    border-color: #bdbdbd;
    -webkit-appearance: none
}

#label-div-icon-search {
    margin-top: 7px;
}


/*################ CARDS CONTENT ################*/

@media only screen and (min-width: 601px) {
    .searchbarfix {
        height: 40px !important;
    }
}

@media only screen and (max-width: 600px) {
    .searchbarfix {
        height: 56px !important;
    }
}

@media only screen and (max-width: 599px) {
    .searchbarfix {
        height: 40px !important;
    }
}

.cards-container {
    column-break-inside: avoid;
}

.cards-container .card {
    display: inline-block;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 2;
    }
}

@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 3;
    }
}

@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 4;
    }
}

.text-center {
    text-align: center;
}
