/*################ MAIN ################*/

/*################ SEARCH AND SEARCH ADBANCED ################*/
#i-div-search-two {
  margin-right: -10px !important;
}
#btn-search-advanced {
  /* height: 14px !important; */
}
@media only screen and (min-width: 993px) {
  #input-div-search {
    height: 40px !important;
    padding: 0 40px 0 15px !important;
  }
  #btn-search-advanced {
    margin-left: -11px !important;
  }
  .button-text:after {
    content: "Búsqueda..." !important;
  }
}

@media only screen and (min-width: 719px) {
  /* #input-div-search {
    height: 56px !important;
  } */
  #btn-search-advanced {
    margin-left: -11px !important;
  }
  .button-text:after {
    font-size: 11.49px;
    content: "Búsqueda avanzada" !important;
  }
}

@media only screen and (max-width: 718px) {
  #input-div-search {
    height: 40px !important;
  }
  #btn-search-advanced {
    margin-left: -11px !important;
  }
  .button-text:after {
    content: "Búsqueda..." !important;
  }
}

@media only screen and (max-width: 501px) {

  .button-text:after {
    font-size: 10px;
    content: "Búsqueda..." !important;
  }
}
@media only screen and (max-width: 490px) {

  .button-text:after {
    font-size: 9px;
    margin-left: -6px;
    content: "Búsqueda..." !important;
  }
}

#div-row-search-input {
  margin-top: 50px;
}

#div-row-search-input div {
  height: auto;
}

#div-row-search-input div div button {
  height: 43px;
  margin-left: -20px;
  margin-top: 10px;
  font-size: 12px;
  width: 100%;
}

#div-row-search-input div div #div-type-search-one input {
  width: 95%;
  padding: 0 20px 2px 15px;
  margin-right: -15px;
}

#div-row-search-input div div #div-type-search-one i {
  margin-top: 7px;
  margin-right: -15px;
}

#div-type-search-one {
  margin-top: 11px;
  margin-bottom: 1px;
}

#input-div-search {
  width: 80%;
  border-radius: 5px;
  border: solid 1px;
  border-color: #bdbdbd;
  -webkit-appearance: none;
}

#label-div-icon-search {
  margin-top: 7px;
}

/*################ CARDS CONTENT ################*/

.cards-container {
  column-break-inside: avoid;
}

.cards-container .card {
  display: inline-block;
  overflow: visible;
}

@media only screen and (max-width: 400px) {
  #p-div-title-book {
    font-size: 9px !important;
  }
}

@media only screen and (max-width: 600px) {
  #p-div-title-book {
    font-size: 10px;
  }
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 601px) {
  #p-div-title-book {
    font-size: 12px;
  }
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 993px) {
  #p-div-title-book {
    font-size: 13px;
  }
  .cards-container {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.text-center {
  text-align: center;
}

/*################ SEARCH ADVANCED ################*/
#example2-pagination {
    margin-bottom: 40px;
}
.select-wrapper input.select-dropdown {
  border: none !important;
}
