/*################ MAIN ################*/

/*################ INFO CONTENT ################*/
#image-div-content-type-book {
}
#div-row-contenido-info {
  margin-top: 20px;
}
/*################ UL LIKE FAVORITE ADD ################*/
#div-card-horizontal {
  margin-top: -20px;
}
#div-ul-like-favorite-add-list li {
  display: inline;
  float: none;
  margin: 5%;
}

/*################ LISTA CAPITULOS ################*/
