/*################ MAIN ################*/

/*################ INFO CONTENT ################*/
#image-div-content-type-book {
}
#div-row-contenido-info {
  margin-top: 20px;
}
/*################ LIKE DISLIKE ################*/
@media only screen and (min-width: 993px) {
  .progressBar {
    display: block;
    width: 200px;
    min-width: 200px;
    height: 10px;
    margin-left: 17.25%;

  }
}
@media only screen and (min-width: 719px) {
  .progressBar {
    display: block;
    width: 200px;
    min-width: 200px;
    height: 10px;
    margin-left: 17.25%;
  }
}

@media only screen and (max-width: 718px) {
  .progressBar {
    display: block;
    width: 200px;
    min-width: 200px;
    height: 10px;
    margin-left: 17.25%;
  }
}
@media only screen and (max-width: 501px) {
  .progressBar {
    display: block;
    width: 200px;
    min-width: 200px;
    height: 10px;
    margin-left: 8%;

  }
}


.likes {
  background-color: #4caf50 ;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 10px;
}

.dislikes {
  background-color: #b71c1c;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 10px;
}
/*################ UL LIKE FAVORITE ADD ################*/
#div-card-horizontal {
  margin-top: -20px;
}
#div-ul-like-favorite-add-list li {
  display: inline;
  float: none;
  margin: 5%;
}
