/*################ MAIN ################*/

/*################ INFO CONTENT ################*/
#image-div-content-type-book {
}
#div-row-contenido-info {
  margin-top: 20px;
}
/*################ LIKE DISLIKE ################*/
.progressBar {
  display: block;
  width: 100px;
  min-width: 100px;
  height: 10px;
  margin-left: 50px;
}

.likes {
  background-color: #0F0;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 10px;
}

.dislikes {
  background-color: #F00;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 10px;
}
/*################ UL LIKE FAVORITE ADD ################*/
#div-card-horizontal {
  margin-top: -20px;
}
#div-ul-like-favorite-add-list li {
  display: inline;
  float: none;
  margin: 5%;
}
