/*################ BAR NAV ################*/
#input-search-nav-home, #image-profile-nav {
  margin-top: 10px;
  height: 45px;
}
#image-profile-nav {
  width: 45px;
  border-radius: 20px;
  border: solid 2px;
}
/*################ CONTENT  ################*/
#divFather, #divFather2 {
  height: 400px;
}
#content-home {
  margin-top: 20px;
  margin-bottom: 20px;
}
#div1, #div2 {
  height: 100%;
}
#div1 {
}
#div2 {
  background-color: grey;
}
#btn-sign-up {
  background-color: #ef5350;
}
.slider .indicators .indicator-item.active {
  background-color: #ef5350;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}
