/*################ MAIN ################*/


/*################ FORMULARIO ################*/

#form-div-registro {
    border-radius: 5px;
    border: solid 1px;
    border-color: #bdbdbd;
}

#form-div-input-form {
    margin-top: -30px;
    margin-left: 10px;
    margin-right: 10px;
}
